<!-- Include this profile fragment in conf/sip_profiles/external.xml. -->
<profile name="external">
  <settings>
    <param name="sip-ip" value="0.0.0.0"/>
    <param name="rtp-ip" value="0.0.0.0"/>
    <param name="ext-sip-ip" value="auto"/>
    <param name="ext-rtp-ip" value="auto"/>
    <param name="sip-port" value="5080"/>
    <param name="tls" value="true"/>
    <param name="tls-only" value="true"/>
    <param name="tls-sip-port" value="5061"/>
    <param name="tls-version" value="tlsv1.2"/>
    <param name="tls-cert-dir" value="/etc/freeswitch/tls"/>
    <param name="inbound-codec-prefs" value="PCMA,PCMU,OPUS"/>
    <param name="outbound-codec-prefs" value="PCMA,PCMU,OPUS"/>
    <param name="rtp-timer-name" value="soft"/>
    <param name="rtp-timeout-sec" value="60"/>
    <param name="rtp-hold-timeout-sec" value="1800"/>
  </settings>
</profile>
